extends ../layout/main-layout.pug 
block content
    form(action="/admin/products" method="POST")

        input#id(type="hidden" name="id" value=`${product._id}`)

        .form-group.row
            label(for="productName").col-sm-2.col-form-label Product Name
            .col-sm-10
                input.form-control#productName(type="text" name="productName" value=`${product.name}`)
        .form-group.row
            label(for="productPrice").col-sm-2.col-form-label Price
            .col-sm-10
                input.form-control#productPrice(type="text" name="productPrice" value=`${product.price}`)
        .form-group.row
            label(for="productDescription").col-sm-2.col-form-label Description
            .col-sm-10
                input.form-control#productDescription(type="text" name="productDescription" value=`${product.description}`)
        .form-group.row
            label(for="productImage").col-sm-2.col-form-label Image
            .col-sm-10
                input.form-control#productImage(type="text" name="productImage" value=`${product.image}`)
        .form-group.row
            label(for="categoryid").col-sm-2.col-form-label Category
            .col-sm-10
                each category in categories     
                    input(type="checkbox" name="categoryids" value=`${category._id}` checked=category.selected)
                    | #{category.name}
                    br

        .form-group.row
            .col-sm-10.offset-sm-2
                input(type="submit" value="Save Product").btn.btn-primary   
