extends ../layout/main-layout.pug

block content
    .row
        .col-md-4
            img(src=`/images/${product.image}` alt=`${product.name}`).img-fluid 
        .col-md-8
            h3 #{product.name}
            p #{product.description}
            hr
            p Price : #{product.price}
            button(type="submit").btn.btn-primary.btn-lg Add to Card