extends ../layout/main-layout.pug

block content

    .row 
        .col-md-3 
            img(src=`/images/${product.image}` alt=`${product.name}`).img-fluid 


        .col-md-9
            h3 #{product.name}
            hr
            a(href="").btn.btn-link.p-0.mb-3 Telefon
                h4.text-primary.mb-3 #{product.price} TL
                button(type="submit").btn.btn-primary.btn-lg Add to Card
    .row
        .col-md-12 
            hr
            p.p-3 #{product.description}
