extends ../layout/main-layout.pug

block content

    .row 
        .col-md-3 
            img(src=`/images/${product.image}` alt=`${product.name}`).img-fluid 


        .col-md-9
            h3 #{product.name}
            hr
            a(href="").btn.btn-link.p-0.mb-3 Telefon
                h4.text-primary.mb-3 #{product.price} TL
                form(action='/cart' method='POST')
                    input(type='hidden' name='productId' value=`${product._id}`)
                    button(type='submit').btn.btn-outline-primary.btn-sm.ml-3 Add to Cart 
    .row
        .col-md-12 
            hr
            p.p-3 #{product.description}
